.main-layout {
	height: 100%;

	.main-header {
		background-color: #fffffb;

		span {
			font-size: 2em;
		}
	}

	.main-main {
		background-color: rgb(224, 223, 223);
	}

	.el-container {
		height: 100%;
	}
}