.customer-index-create {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1em;
	height: auto !important;

	.customer-index-create-left{
		height: auto !important;
	}
}

.customer-index-list {
	flex: initial !important;

	.list-space {
		display: grid !important;
		grid-gap: 15px;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}