html {
	height: 100%;

	font-family: var(--el-font-family);

	body {
		margin: 0;

		height: 100%;
		overflow: hidden;

		#app {
			height: 100%;
		}
	}
}

.el-card {
	&.is-hover-shadow:hover{
		border: 1px solid var(--el-color-primary);
		cursor: pointer;
	}
}