@use 'Layouts/MainLayout.scss';
@use 'Components/sidebar.scss';
@use 'Pages/Customers/create.scss';
@use 'Pages/Customers/index.scss';

html {
	height: 100%;

	font-family: var(--el-font-family);

	body {
		margin: 0;

		height: 100%;
		overflow: hidden;

		#app {
			height: 100%;
		}
	}
}

