@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'white': #FFFFFB,
    'black': #1A2527,
    'primary': (
      'base': #6D98BA,
    ),
    'info': (
        'base': #6D98BA
    )
  ),
  $card: (
    'padding': 12px,
  ),
  $menu: (
    'text-color': white,
    'hover-text-color': var(--el-menu-bg-color),
    'bg-color': #1A2527,
  ),
  $avatar: (
    'bg-color': var(--el-color-black),
  )
);

@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

@use "element-plus/theme-chalk/src/index.scss" as *;